In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
df = pd.read_parquet('rail_data_cleaned_20230728132300.parquet')
dropped = ['working_time_pass', 'pass', 'train_length']
df = df.drop(columns=dropped)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37100 entries, 8 to 94243
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   route_id                37100 non-null  object
 1   unique_id               37100 non-null  object
 2   service_start_date      37100 non-null  object
 3   update_origin           36515 non-null  object
 4   train_platform          37100 non-null  object
 5   working_time_arrival    37100 non-null  datetime64[ns]
 6   working_time_departure  37100 non-null  datetime64[ns]
 7   planned_time_arrival    33855 non-null  datetime64[ns]
 8   planned_time_departure  33580 non-null  datetime64[ns]
 9   platform                34114 non-null  object
 10  actual_arrival_time     31769 non-null  datetime64[ns]
 11  actual_departure_time   34384 non-null  datetime64[ns]
 12  is_delayed_arrival      37100 non-null  bool
 13  is_delayed_departure    37100 non-null  bool
dtypes: bool(2), datetime64[ns](6), object(6)
memory usage: 3.8+ MB

In [9]:
df['actual_arrival_time'] = pd.to_datetime(df['actual_arrival_time'])
df['actual_departure_time'] = pd.to_datetime(df['actual_departure_time'])
df['working_time_arrival'] = pd.to_datetime(df['working_time_arrival'])
df['working_time_departure'] = pd.to_datetime(df['working_time_departure'])
df['planned_time_arrival'] = pd.to_datetime(df['planned_time_arrival'])
df['planned_time_departure'] = pd.to_datetime(df['planned_time_departure'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37100 entries, 8 to 94243
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   route_id                37100 non-null  object
 1   unique_id               37100 non-null  object
 2   service_start_date      37100 non-null  object
 3   update_origin           36515 non-null  object
 4   train_platform          37100 non-null  object
 5   working_time_arrival    37100 non-null  datetime64[ns]
 6   working_time_departure  37100 non-null  datetime64[ns]
 7   planned_time_arrival    33855 non-null  datetime64[ns]
 8   planned_time_departure  33580 non-null  datetime64[ns]
 9   platform                34114 non-null  object
 10  actual_arrival_time     31769 non-null  datetime64[ns]
 11  actual_departure_time   34384 non-null  datetime64[ns]
 12  is_delayed_arrival      37100 non-null  bool
 13  is_delayed_departure    37100 non-null  bool
dtypes: bool(2), datetime64[ns](6), object(6)
memory usage: 3.8+ MB

In [11]:
df

,route_id,unique_id,service_start_date,update_origin,train_platform,working_time_arrival,working_time_departure,planned_time_arrival,planned_time_departure,platform,actual_arrival_time,actual_departure_time,is_delayed_arrival,is_delayed_departure
8,202307277679020,L79020,2023-07-27,Darwin,STFD,2023-07-27 00:03:00,2023-07-27 00:03:30,NaT,NaT,5,2023-07-27 00:53:00,2023-07-27 00:53:00,True,True
10,202307277679020,L79020,2023-07-27,Darwin,SPNY205,2023-07-27 00:07:00,2023-07-27 00:13:30,NaT,NaT,None,2023-07-27 00:57:00,2023-07-27 00:58:00,True,True
16,202307277679020,L79020,2023-07-27,Darwin,PADTLL,2023-07-27 00:30:30,2023-07-27 00:31:00,NaT,NaT,B,2023-07-27 01:07:00,2023-07-27 01:07:00,True,True
17,202307277679020,L79020,2023-07-27,Darwin,WBRNPKS,2023-07-27 00:33:00,2023-07-27 00:35:00,NaT,NaT,A,2023-07-27 01:09:00,2023-07-27 01:10:00,True,True
22,202307277674553,L74553,2023-07-27,TD,SVNOAKS,2023-07-27 21:53:00,2023-07-27 21:54:30,2023-07-27 21:53:00,2023-07-27 21:54:00,1,NaT,NaT,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94233,202307278055183,P55183,2023-07-27,Darwin,BRADIN,2023-07-27 17:30:30,2023-07-27 17:33:30,2023-07-27 17:31:00,2023-07-27 17:33:00,4,2023-07-27 18:07:00,2023-07-27 18:08:00,True,True
94235,202307278055183,P55183,2023-07-27,Darwin,HLFX,2023-07-27 17:44:00,2023-07-27 17:45:00,2023-07-27 17:44:00,2023-07-27 17:45:00,1,2023-07-27 18:18:00,2023-07-27 18:19:00,True,True
94238,202307278055183,P55183,2023-07-27,Darwin,HBDNBDG,2023-07-27 17:58:30,2023-07-27 18:01:30,2023-07-27 17:59:00,2023-07-27 18:01:00,1,2023-07-27 18:29:00,2023-07-27 18:30:00,True,True
94240,202307278055183,P55183,2023-07-27,Darwin,TODMRDN,2023-07-27 18:08:30,2023-07-27 18:09:30,2023-07-27 18:09:00,2023-07-27 18:09:00,1,2023-07-27 18:35:00,2023-07-27 18:35:00,True,True
94243,202307278055183,P55183,2023-07-27,Darwin,RCHDALE,2023-07-27 18:18:30,2023-07-27 18:19:30,2023-07-27 18:19:00,2023-07-27 18:19:00,3,2023-07-27 18:44:00,2023-07-27 18:45:00,True,True

- Which update origin has the most values - the system pushed the most
- Which update origin has the most null time values
- Which routes have the most stops - by unique platform
- How many delays are there vs no delays
- How many marked delays are because of null data
- What is the time between planned times and actual times
- What is the count of delayed arrivals based on the presence of null planned_time_arrival
- What is the count of delayed departures based on the presence of null planned_time_departures
- Which update origin has the most null time values
- Which days have the most stops based on unique platforms

In [12]:
popular_id = df[df['unique_id'] == 'Y55129']
popular_id

,route_id,unique_id,service_start_date,update_origin,train_platform,working_time_arrival,working_time_departure,planned_time_arrival,planned_time_departure,platform,actual_arrival_time,actual_departure_time,is_delayed_arrival,is_delayed_departure
24917,202307288955129,Y55129,2023-07-28,Trust,HDON,2023-07-28 01:11:30,2023-07-28 01:12:00,2023-07-28 01:12:00,2023-07-28 01:12:00,1,NaT,NaT,False,False
24918,202307288955129,Y55129,2023-07-28,Trust,BRENTX,2023-07-28 01:13:30,2023-07-28 01:14:00,NaT,NaT,1,2023-07-28 01:19:00,2023-07-28 01:20:00,False,False
24919,202307288955129,Y55129,2023-07-28,Trust,CRKLWD,2023-07-28 01:15:30,2023-07-28 01:17:00,2023-07-28 01:16:00,2023-07-28 01:17:00,1,2023-07-28 01:21:00,2023-07-28 01:22:00,False,False
24920,202307288955129,Y55129,2023-07-28,Trust,WHMPSTM,2023-07-28 01:20:00,2023-07-28 01:20:30,2023-07-28 01:20:00,2023-07-28 01:20:00,1,2023-07-28 01:24:00,2023-07-28 01:25:00,False,False
24922,202307288955129,Y55129,2023-07-28,Trust,KNTSHTN,2023-07-28 01:24:00,2023-07-28 01:24:30,2023-07-28 01:24:00,2023-07-28 01:24:00,1,2023-07-28 01:28:00,2023-07-28 01:29:00,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92756,202307288955129,Y55129,2023-07-28,Darwin,SELHRST,2023-07-28 02:02:30,2023-07-28 02:03:00,NaT,NaT,1,2023-07-28 02:04:00,2023-07-28 02:04:00,False,False
92758,202307288955129,Y55129,2023-07-28,Darwin,ECROYDN,2023-07-28 02:06:00,2023-07-28 02:07:00,2023-07-28 02:06:00,2023-07-28 02:07:00,5,2023-07-28 02:06:00,2023-07-28 02:07:00,False,False
92761,202307288955129,Y55129,2023-07-28,Darwin,PURLEY,2023-07-28 02:12:00,2023-07-28 02:13:00,2023-07-28 02:12:00,2023-07-28 02:13:00,2,2023-07-28 02:12:00,2023-07-28 02:13:00,False,False
92768,202307288955129,Y55129,2023-07-28,Darwin,HORLEY,2023-07-28 02:25:30,2023-07-28 02:26:00,2023-07-28 02:26:00,2023-07-28 02:26:00,2,2023-07-28 02:26:00,2023-07-28 02:26:00,False,False
92769,202307288955129,Y55129,2023-07-28,Darwin,GTWK,2023-07-28 02:29:30,2023-07-28 02:31:30,2023-07-28 02:30:00,2023-07-28 02:31:00,2,2023-07-28 02:30:00,2023-07-28 02:31:00,False,False

In [33]:
agg_functions = {
    'actual_arrival_time': 'min',
    'actual_departure_time': 'max'
}

id_and_platform = popular_id.groupby(['unique_id', 'train_platform', 'service_start_date']).agg(agg_functions)

In [34]:
id_and_platform

                                            actual_arrival_time  \
unique_id train_platform service_start_date
Y55129    BLFR           2023-07-28         2023-07-28 01:39:00
          BRENTX         2023-07-28         2023-07-28 01:15:00
          CRKLWD         2023-07-28         2023-07-28 01:16:00
          ECROYDN        2023-07-28         2023-07-28 02:06:00
          ELTR           2023-07-28         2023-07-28 01:06:00
          FLITWCK        2023-07-28         2023-07-28 00:27:00
          FRNDNLT        2023-07-28         2023-07-28 01:36:00
          GTWK           2023-07-28         2023-07-28 02:30:00
          HDON           2023-07-28         2023-07-28 01:12:00
          HORLEY         2023-07-28         2023-07-28 02:26:00
          HRLG           2023-07-28         2023-07-28 00:31:00
          HRPNDN         2023-07-28         2023-07-28 00:49:00
          KNTSHTN        2023-07-28         2023-07-28 01:24:00
          LEAGRVE        2023-07-28         2023-07-28 00:37:00
          LUTOAPY        2023-07-28         2023-07-28 00:43:00
          LUTON          2023-07-28         2023-07-28 00:43:00
          MLHB           2023-07-28         2023-07-28 01:08:00
          PURLEY         2023-07-28         2023-07-28 02:12:00
          RADLETT        2023-07-28         2023-07-28 01:01:00
          SELHRST        2023-07-28         2023-07-28 02:03:00
          STALBCY        2023-07-28         2023-07-28 00:55:00
          STPXBOX        2023-07-28         2023-07-28 01:30:00
          WHMPSTM        2023-07-28         2023-07-28 01:20:00

                                            actual_departure_time
unique_id train_platform service_start_date
Y55129    BLFR           2023-07-28           2023-07-28 01:43:00
          BRENTX         2023-07-28           2023-07-28 01:21:00
          CRKLWD         2023-07-28           2023-07-28 01:23:00
          ECROYDN        2023-07-28           2023-07-28 02:14:00
          ELTR           2023-07-28           2023-07-28 01:10:00
          FLITWCK        2023-07-28           2023-07-28 00:27:00
          FRNDNLT        2023-07-28           2023-07-28 01:40:00
          GTWK           2023-07-28           2023-07-28 02:38:00
          HDON           2023-07-28           2023-07-28 01:19:00
          HORLEY         2023-07-28           2023-07-28 02:33:00
          HRLG           2023-07-28           2023-07-28 00:31:00
          HRPNDN         2023-07-28           2023-07-28 00:53:00
          KNTSHTN        2023-07-28           2023-07-28 01:30:00
          LEAGRVE        2023-07-28           2023-07-28 00:41:00
          LUTOAPY        2023-07-28           2023-07-28 00:47:00
          LUTON          2023-07-28           2023-07-28 00:45:00
          MLHB           2023-07-28           2023-07-28 01:13:00
          PURLEY         2023-07-28           2023-07-28 02:20:00
          RADLETT        2023-07-28           2023-07-28 01:06:00
          SELHRST        2023-07-28           2023-07-28 02:06:00
          STALBCY        2023-07-28           2023-07-28 01:01:00
          STPXBOX        2023-07-28           2023-07-28 01:35:00
          WHMPSTM        2023-07-28           2023-07-28 01:26:00

In [35]:
ids_and_platform = popular_id.groupby(['unique_id', 'train_platform', 'service_start_date']).size()

In [36]:
ids_and_platform

unique_id  train_platform  service_start_date
Y55129     BLFR            2023-07-28            5
           BRENTX          2023-07-28            7
           CRKLWD          2023-07-28            6
           ECROYDN         2023-07-28            6
           ELTR            2023-07-28            5
           FLITWCK         2023-07-28            2
           FRNDNLT         2023-07-28            5
           GTWK            2023-07-28            6
           HDON            2023-07-28            7
           HORLEY          2023-07-28            6
           HRLG            2023-07-28            2
           HRPNDN          2023-07-28            4
           KNTSHTN         2023-07-28            7
           LEAGRVE         2023-07-28            4
           LUTOAPY         2023-07-28            4
           LUTON           2023-07-28            3
           MLHB            2023-07-28            5
           PURLEY          2023-07-28            6
           RADLETT         2023-07-28            5
           SELHRST         2023-07-28            6
           STALBCY         2023-07-28            6
           STPXBOX         2023-07-28            6
           WHMPSTM         2023-07-28            7
dtype: int64

In [37]:
aggregated = popular_id.groupby(['unique_id', 'train_platform']).agg({
    'update_origin': 'first',
    'service_start_date': 'first',
    'working_time_arrival': 'first',
    'working_time_departure': 'first',
    'actual_arrival_time': 'first',
    'actual_departure_time': 'first',
    'is_delayed_arrival': 'any'  # Use 'any' to check if any value is True in the group
}).reset_index()

In [38]:
aggregated

,unique_id,train_platform,update_origin,service_start_date,working_time_arrival,working_time_departure,actual_arrival_time,actual_departure_time,is_delayed_arrival
0,Y55129,BLFR,Trust,2023-07-28,2023-07-28 01:39:00,2023-07-28 01:40:00,2023-07-28 01:41:00,2023-07-28 01:42:00,False
1,Y55129,BRENTX,Trust,2023-07-28,2023-07-28 01:13:30,2023-07-28 01:14:00,2023-07-28 01:19:00,2023-07-28 01:20:00,False
2,Y55129,CRKLWD,Trust,2023-07-28,2023-07-28 01:15:30,2023-07-28 01:17:00,2023-07-28 01:21:00,2023-07-28 01:22:00,False
3,Y55129,ECROYDN,Trust,2023-07-28,2023-07-28 02:06:00,2023-07-28 02:07:00,2023-07-28 02:08:00,2023-07-28 02:09:00,False
4,Y55129,ELTR,Darwin,2023-07-28,2023-07-28 01:04:00,2023-07-28 01:04:30,2023-07-28 01:06:00,2023-07-28 01:07:00,False
5,Y55129,FLITWCK,TD,2023-07-28,2023-07-28 00:25:30,2023-07-28 00:26:00,2023-07-28 00:27:00,2023-07-28 00:27:00,False
6,Y55129,FRNDNLT,Trust,2023-07-28,2023-07-28 01:35:30,2023-07-28 01:36:30,2023-07-28 01:38:00,2023-07-28 01:39:00,False
7,Y55129,GTWK,Trust,2023-07-28,2023-07-28 02:29:30,2023-07-28 02:31:30,2023-07-28 02:32:00,2023-07-28 02:33:00,False
8,Y55129,HDON,Trust,2023-07-28,2023-07-28 01:11:30,2023-07-28 01:12:00,2023-07-28 01:12:00,2023-07-28 01:14:00,False
9,Y55129,HORLEY,Trust,2023-07-28,2023-07-28 02:25:30,2023-07-28 02:26:00,2023-07-28 02:28:00,2023-07-28 02:28:00,False
10,Y55129,HRLG,TD,2023-07-28,2023-07-28 00:29:30,2023-07-28 00:30:00,2023-07-28 00:31:00,2023-07-28 00:31:00,False
11,Y55129,HRPNDN,Darwin,2023-07-28,2023-07-28 00:48:30,2023-07-28 00:49:00,2023-07-28 00:52:00,2023-07-28 00:53:00,False
12,Y55129,KNTSHTN,Trust,2023-07-28,2023-07-28 01:24:00,2023-07-28 01:24:30,2023-07-28 01:28:00,2023-07-28 01:29:00,False
13,Y55129,LEAGRVE,Darwin,2023-07-28,2023-07-28 00:35:30,2023-07-28 00:36:00,2023-07-28 00:37:00,2023-07-28 00:41:00,False
14,Y55129,LUTOAPY,Darwin,2023-07-28,2023-07-28 00:42:30,2023-07-28 00:43:30,2023-07-28 00:47:00,2023-07-28 00:47:00,False
15,Y55129,LUTON,Darwin,2023-07-28,2023-07-28 00:39:00,2023-07-28 00:40:30,2023-07-28 00:44:00,2023-07-28 00:45:00,False
16,Y55129,MLHB,Darwin,2023-07-28,2023-07-28 01:07:30,2023-07-28 01:08:30,2023-07-28 01:10:00,2023-07-28 01:10:00,False
17,Y55129,PURLEY,Trust,2023-07-28,2023-07-28 02:12:00,2023-07-28 02:13:00,2023-07-28 02:14:00,2023-07-28 02:15:00,False
18,Y55129,RADLETT,Darwin,2023-07-28,2023-07-28 01:00:30,2023-07-28 01:01:00,2023-07-28 01:03:00,2023-07-28 01:03:00,False
19,Y55129,SELHRST,Trust,2023-07-28,2023-07-28 02:02:30,2023-07-28 02:03:00,2023-07-28 02:05:00,2023-07-28 02:05:00,False
20,Y55129,STALBCY,Darwin,2023-07-28,2023-07-28 00:54:30,2023-07-28 00:55:30,2023-07-28 00:57:00,2023-07-28 00:58:00,False
21,Y55129,STPXBOX,Trust,2023-07-28,2023-07-28 01:30:00,2023-07-28 01:32:00,2023-07-28 01:33:00,2023-07-28 01:34:00,False
22,Y55129,WHMPSTM,Trust,2023-07-28,2023-07-28 01:20:00,2023-07-28 01:20:30,2023-07-28 01:24:00,2023-07-28 01:25:00,False

In [43]:
grouped = popular_id.groupby(['unique_id', 'train_platform']).count()

In [44]:
grouped

                          route_id  service_start_date  update_origin  \
unique_id train_platform
Y55129    BLFR                   5                   5              5
          BRENTX                 7                   7              7
          CRKLWD                 6                   6              6
          ECROYDN                6                   6              6
          ELTR                   5                   5              5
          FLITWCK                2                   2              2
          FRNDNLT                5                   5              5
          GTWK                   6                   6              6
          HDON                   7                   7              7
          HORLEY                 6                   6              6
          HRLG                   2                   2              2
          HRPNDN                 4                   4              4
          KNTSHTN                7                   7              7
          LEAGRVE                4                   4              4
          LUTOAPY                4                   4              4
          LUTON                  3                   3              3
          MLHB                   5                   5              5
          PURLEY                 6                   6              6
          RADLETT                5                   5              5
          SELHRST                6                   6              6
          STALBCY                6                   6              6
          STPXBOX                6                   6              6
          WHMPSTM                7                   7              7

                          working_time_arrival  working_time_departure  \
unique_id train_platform
Y55129    BLFR                               5                       5
          BRENTX                             7                       7
          CRKLWD                             6                       6
          ECROYDN                            6                       6
          ELTR                               5                       5
          FLITWCK                            2                       2
          FRNDNLT                            5                       5
          GTWK                               6                       6
          HDON                               7                       7
          HORLEY                             6                       6
          HRLG                               2                       2
          HRPNDN                             4                       4
          KNTSHTN                            7                       7
          LEAGRVE                            4                       4
          LUTOAPY                            4                       4
          LUTON                              3                       3
          MLHB                               5                       5
          PURLEY                             6                       6
          RADLETT                            5                       5
          SELHRST                            6                       6
          STALBCY                            6                       6
          STPXBOX                            6                       6
          WHMPSTM                            7                       7

                          planned_time_arrival  planned_time_departure  \
unique_id train_platform
Y55129    BLFR                               5                       5
          BRENTX                             0                       0
          CRKLWD                             6                       6
          ECROYDN                            6                       6
          ELTR                               5                       5
          FLITWCK                            2                       2
          FRNDNLT                            0                       0
          GTWK                               6                       6
          HDON                               7                       7
          HORLEY                             6                       6
          HRLG                               2                       2
          HRPNDN                             4                       4
          KNTSHTN                            7                       7
          LEAGRVE                            4                       4
          LUTOAPY                            4                       4
          LUTON                              3                       3
          MLHB                               5                       5
          PURLEY                             6                       6
          RADLETT                            5                       5
          SELHRST                            0                       0
          STALBCY                            6                       6
          STPXBOX                            6                       6
          WHMPSTM                            7                       7

                          platform  actual_arrival_time  \
unique_id train_platform
Y55129    BLFR                   5                    4
          BRENTX                 7                    6
          CRKLWD                 6                    5
          ECROYDN                6                    6
          ELTR                   5                    4
          FLITWCK                2                    1
          FRNDNLT                5                    4
          GTWK                   6                    6
          HDON                   7                    4
          HORLEY                 6                    6
          HRLG                   2                    1
          HRPNDN                 4                    3
          KNTSHTN                7                    6
          LEAGRVE                4                    1
          LUTOAPY                4                    3
          LUTON                  3                    2
          MLHB                   5                    4
          PURLEY                 6                    6
          RADLETT                5                    4
          SELHRST                6                    5
          STALBCY                6                    3
          STPXBOX                6                    5
          WHMPSTM                7                    6

                          actual_departure_time  is_delayed_arrival  \
unique_id train_platform
Y55129    BLFR                                4                   5
          BRENTX                              6                   7
          CRKLWD                              5                   6
          ECROYDN                             6                   6
          ELTR                                4                   5
          FLITWCK                             1                   2
          FRNDNLT                             4                   5
          GTWK                                6                   6
          HDON                                5                   7
          HORLEY                              6                   6
          HRLG                                1                   2
          HRPNDN                              3                   4
          KNTSHTN                             6                   7
          LEAGRVE                             2                   4
          LUTOAPY                             3                   4
          LUTON                               2                   3
          MLHB                                4                   5
          PURLEY                              6                   6
          RADLETT                             4                   5
          SELHRST                             5                   6
          STALBCY                             4                   6
          STPXBOX                             5                   6
          WHMPSTM                             6                   7

                          is_delayed_departure
unique_id train_platform
Y55129    BLFR                               5
          BRENTX                             7
          CRKLWD                             6
          ECROYDN                            6
          ELTR                               5
          FLITWCK                            2
          FRNDNLT                            5
          GTWK                               6
          HDON                               7
          HORLEY                             6
          HRLG                               2
          HRPNDN                             4
          KNTSHTN                            7
          LEAGRVE                            4
          LUTOAPY                            4
          LUTON                              3
          MLHB                               5
          PURLEY                             6
          RADLETT                            5
          SELHRST                            6
          STALBCY                            6
          STPXBOX                            6
          WHMPSTM                            7