In [58]:
import pandas as pd
import numpy as np

In [59]:
df = pd.read_parquet('rail_data_cleaned_20230728132300.parquet')

In [60]:
df2 = pd.read_csv('RailReferences.csv')

### Database 1 Info

In [61]:
df

,route_id,unique_id,service_start_date,update_origin,train_platform,working_time_pass,working_time_arrival,working_time_departure,planned_time_arrival,planned_time_departure,pass,platform,train_length,actual_arrival_time,actual_departure_time,is_delayed_arrival,is_delayed_departure
8,202307277679020,L79020,2023-07-27,Darwin,STFD,NaT,2023-07-27 00:03:00,2023-07-27 00:03:30,NaT,NaT,NaN,5,None,2023-07-27 00:53:00,2023-07-27 00:53:00,True,True
10,202307277679020,L79020,2023-07-27,Darwin,SPNY205,NaT,2023-07-27 00:07:00,2023-07-27 00:13:30,NaT,NaT,NaN,None,None,2023-07-27 00:57:00,2023-07-27 00:58:00,True,True
16,202307277679020,L79020,2023-07-27,Darwin,PADTLL,NaT,2023-07-27 00:30:30,2023-07-27 00:31:00,NaT,NaT,NaN,B,None,2023-07-27 01:07:00,2023-07-27 01:07:00,True,True
17,202307277679020,L79020,2023-07-27,Darwin,WBRNPKS,NaT,2023-07-27 00:33:00,2023-07-27 00:35:00,NaT,NaT,NaN,A,None,2023-07-27 01:09:00,2023-07-27 01:10:00,True,True
22,202307277674553,L74553,2023-07-27,TD,SVNOAKS,NaT,2023-07-27 21:53:00,2023-07-27 21:54:30,2023-07-27 21:53:00,2023-07-27 21:54:00,NaN,1,8,NaT,NaT,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94233,202307278055183,P55183,2023-07-27,Darwin,BRADIN,NaT,2023-07-27 17:30:30,2023-07-27 17:33:30,2023-07-27 17:31:00,2023-07-27 17:33:00,NaN,4,None,2023-07-27 18:07:00,2023-07-27 18:08:00,True,True
94235,202307278055183,P55183,2023-07-27,Darwin,HLFX,NaT,2023-07-27 17:44:00,2023-07-27 17:45:00,2023-07-27 17:44:00,2023-07-27 17:45:00,NaN,1,None,2023-07-27 18:18:00,2023-07-27 18:19:00,True,True
94238,202307278055183,P55183,2023-07-27,Darwin,HBDNBDG,NaT,2023-07-27 17:58:30,2023-07-27 18:01:30,2023-07-27 17:59:00,2023-07-27 18:01:00,NaN,1,None,2023-07-27 18:29:00,2023-07-27 18:30:00,True,True
94240,202307278055183,P55183,2023-07-27,Darwin,TODMRDN,NaT,2023-07-27 18:08:30,2023-07-27 18:09:30,2023-07-27 18:09:00,2023-07-27 18:09:00,NaN,1,None,2023-07-27 18:35:00,2023-07-27 18:35:00,True,True
94243,202307278055183,P55183,2023-07-27,Darwin,RCHDALE,NaT,2023-07-27 18:18:30,2023-07-27 18:19:30,2023-07-27 18:19:00,2023-07-27 18:19:00,NaN,3,None,2023-07-27 18:44:00,2023-07-27 18:45:00,True,True

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37100 entries, 8 to 94243
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   route_id                37100 non-null  object
 1   unique_id               37100 non-null  object
 2   service_start_date      37100 non-null  object
 3   update_origin           36515 non-null  object
 4   train_platform          37100 non-null  object
 5   working_time_pass       0 non-null      datetime64[ns]
 6   working_time_arrival    37100 non-null  datetime64[ns]
 7   working_time_departure  37100 non-null  datetime64[ns]
 8   planned_time_arrival    33855 non-null  datetime64[ns]
 9   planned_time_departure  33580 non-null  datetime64[ns]
 10  pass                    0 non-null      float64
 11  platform                34114 non-null  object
 12  train_length            10595 non-null  object
 13  actual_arrival_time     31769 non-null  datetime64[ns]
 14  actual_departure_time   34384 non-null  datetime64[ns]
 15  is_delayed_arrival      37100 non-null  bool
 16  is_delayed_departure    37100 non-null  bool
dtypes: bool(2), datetime64[ns](7), float64(1), object(7)
memory usage: 4.6+ MB

In [63]:
df.shape

(37100, 17)

In [64]:
df.corr()

                      pass  is_delayed_arrival  is_delayed_departure
pass                   NaN                 NaN                   NaN
is_delayed_arrival     NaN            1.000000              0.954546
is_delayed_departure   NaN            0.954546              1.000000

In [65]:
df.isnull().sum()

route_id                      0
unique_id                     0
service_start_date            0
update_origin               585
train_platform                0
working_time_pass         37100
working_time_arrival          0
working_time_departure        0
planned_time_arrival       3245
planned_time_departure     3520
pass                      37100
platform                   2986
train_length              26505
actual_arrival_time        5331
actual_departure_time      2716
is_delayed_arrival            0
is_delayed_departure          0
dtype: int64

#### There is no data for pass and working_time_pass columns. They can be deleted.
#### train_length has a lot of missing values but doesn't seem to be important

In [66]:
dropped = ['working_time_pass', 'pass', 'train_length']

In [67]:
df = df.drop(columns=dropped)

In [68]:
df.shape

(37100, 14)

In [69]:
df

,route_id,unique_id,service_start_date,update_origin,train_platform,working_time_arrival,working_time_departure,planned_time_arrival,planned_time_departure,platform,actual_arrival_time,actual_departure_time,is_delayed_arrival,is_delayed_departure
8,202307277679020,L79020,2023-07-27,Darwin,STFD,2023-07-27 00:03:00,2023-07-27 00:03:30,NaT,NaT,5,2023-07-27 00:53:00,2023-07-27 00:53:00,True,True
10,202307277679020,L79020,2023-07-27,Darwin,SPNY205,2023-07-27 00:07:00,2023-07-27 00:13:30,NaT,NaT,None,2023-07-27 00:57:00,2023-07-27 00:58:00,True,True
16,202307277679020,L79020,2023-07-27,Darwin,PADTLL,2023-07-27 00:30:30,2023-07-27 00:31:00,NaT,NaT,B,2023-07-27 01:07:00,2023-07-27 01:07:00,True,True
17,202307277679020,L79020,2023-07-27,Darwin,WBRNPKS,2023-07-27 00:33:00,2023-07-27 00:35:00,NaT,NaT,A,2023-07-27 01:09:00,2023-07-27 01:10:00,True,True
22,202307277674553,L74553,2023-07-27,TD,SVNOAKS,2023-07-27 21:53:00,2023-07-27 21:54:30,2023-07-27 21:53:00,2023-07-27 21:54:00,1,NaT,NaT,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94233,202307278055183,P55183,2023-07-27,Darwin,BRADIN,2023-07-27 17:30:30,2023-07-27 17:33:30,2023-07-27 17:31:00,2023-07-27 17:33:00,4,2023-07-27 18:07:00,2023-07-27 18:08:00,True,True
94235,202307278055183,P55183,2023-07-27,Darwin,HLFX,2023-07-27 17:44:00,2023-07-27 17:45:00,2023-07-27 17:44:00,2023-07-27 17:45:00,1,2023-07-27 18:18:00,2023-07-27 18:19:00,True,True
94238,202307278055183,P55183,2023-07-27,Darwin,HBDNBDG,2023-07-27 17:58:30,2023-07-27 18:01:30,2023-07-27 17:59:00,2023-07-27 18:01:00,1,2023-07-27 18:29:00,2023-07-27 18:30:00,True,True
94240,202307278055183,P55183,2023-07-27,Darwin,TODMRDN,2023-07-27 18:08:30,2023-07-27 18:09:30,2023-07-27 18:09:00,2023-07-27 18:09:00,1,2023-07-27 18:35:00,2023-07-27 18:35:00,True,True
94243,202307278055183,P55183,2023-07-27,Darwin,RCHDALE,2023-07-27 18:18:30,2023-07-27 18:19:30,2023-07-27 18:19:00,2023-07-27 18:19:00,3,2023-07-27 18:44:00,2023-07-27 18:45:00,True,True

#### Because there are multiple update origins, we need to elimate rows where both actual arrival and depature have null values

In [70]:
df.columns

Index(['route_id', 'unique_id', 'service_start_date', 'update_origin',
       'train_platform', 'working_time_arrival', 'working_time_departure',
       'planned_time_arrival', 'planned_time_departure', 'platform',
       'actual_arrival_time', 'actual_departure_time', 'is_delayed_arrival',
       'is_delayed_departure'],
      dtype='object')

In [71]:
df.dropna(subset=['actual_departure_time', 'actual_arrival_time'], how='all', inplace=True)

In [72]:
df

,route_id,unique_id,service_start_date,update_origin,train_platform,working_time_arrival,working_time_departure,planned_time_arrival,planned_time_departure,platform,actual_arrival_time,actual_departure_time,is_delayed_arrival,is_delayed_departure
8,202307277679020,L79020,2023-07-27,Darwin,STFD,2023-07-27 00:03:00,2023-07-27 00:03:30,NaT,NaT,5,2023-07-27 00:53:00,2023-07-27 00:53:00,True,True
10,202307277679020,L79020,2023-07-27,Darwin,SPNY205,2023-07-27 00:07:00,2023-07-27 00:13:30,NaT,NaT,None,2023-07-27 00:57:00,2023-07-27 00:58:00,True,True
16,202307277679020,L79020,2023-07-27,Darwin,PADTLL,2023-07-27 00:30:30,2023-07-27 00:31:00,NaT,NaT,B,2023-07-27 01:07:00,2023-07-27 01:07:00,True,True
17,202307277679020,L79020,2023-07-27,Darwin,WBRNPKS,2023-07-27 00:33:00,2023-07-27 00:35:00,NaT,NaT,A,2023-07-27 01:09:00,2023-07-27 01:10:00,True,True
25,202307277679633,L79633,2023-07-27,TD,STFD,2023-07-27 19:42:30,2023-07-27 19:43:30,2023-07-27 19:43:00,2023-07-27 19:43:00,8,2023-07-27 19:43:00,2023-07-27 19:44:00,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94233,202307278055183,P55183,2023-07-27,Darwin,BRADIN,2023-07-27 17:30:30,2023-07-27 17:33:30,2023-07-27 17:31:00,2023-07-27 17:33:00,4,2023-07-27 18:07:00,2023-07-27 18:08:00,True,True
94235,202307278055183,P55183,2023-07-27,Darwin,HLFX,2023-07-27 17:44:00,2023-07-27 17:45:00,2023-07-27 17:44:00,2023-07-27 17:45:00,1,2023-07-27 18:18:00,2023-07-27 18:19:00,True,True
94238,202307278055183,P55183,2023-07-27,Darwin,HBDNBDG,2023-07-27 17:58:30,2023-07-27 18:01:30,2023-07-27 17:59:00,2023-07-27 18:01:00,1,2023-07-27 18:29:00,2023-07-27 18:30:00,True,True
94240,202307278055183,P55183,2023-07-27,Darwin,TODMRDN,2023-07-27 18:08:30,2023-07-27 18:09:30,2023-07-27 18:09:00,2023-07-27 18:09:00,1,2023-07-27 18:35:00,2023-07-27 18:35:00,True,True
94243,202307278055183,P55183,2023-07-27,Darwin,RCHDALE,2023-07-27 18:18:30,2023-07-27 18:19:30,2023-07-27 18:19:00,2023-07-27 18:19:00,3,2023-07-27 18:44:00,2023-07-27 18:45:00,True,True