In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('RailReferences.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2628 entries, 0 to 2627
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AtcoCode              2628 non-null   object
 1   TiplocCode            2628 non-null   object
 2   CrsCode               2628 non-null   object
 3   StationName           2628 non-null   object
 4   StationNameLang       0 non-null      float64
 5   GridType              2627 non-null   object
 6   Easting               2628 non-null   int64
 7   Northing              2628 non-null   int64
 8   CreationDateTime      2628 non-null   object
 9   ModificationDateTime  2628 non-null   object
 10  RevisionNumber        2628 non-null   int64
 11  Modification          2628 non-null   object
dtypes: float64(1), int64(3), object(8)
memory usage: 246.5+ KB

In [5]:
df.head()

,AtcoCode,TiplocCode,CrsCode,StationName,StationNameLang,GridType,Easting,Northing,CreationDateTime,ModificationDateTime,RevisionNumber,Modification
0,9100PENZNCE,PENZNCE,PNZ,Penzance Rail Station,NaN,U,147588,30599,2003-11-04T00:00:00,2011-09-30T14:47:28,2,rev
1,9100STIVES,STIVES,SIV,St Ives (Cornwall) Rail Station,NaN,U,151947,40127,2005-04-04T00:00:00,2011-09-30T14:47:28,4,rev
2,9100CARBISB,CARBISB,CBB,Carbis Bay Rail Station,NaN,U,152930,38745,2003-11-04T00:00:00,2011-09-30T14:47:28,5,rev
3,9100STERTH,STERTH,SER,St Erth Rail Station,NaN,U,154150,35730,2003-11-04T00:00:00,2007-02-13T17:06:21,3,rev
4,9100LELANTS,LELANTS,LTS,Lelant Saltings Rail Station,NaN,U,154430,36640,2003-11-04T00:00:00,2011-09-30T14:47:28,2,rev

In [6]:
df.columns

Index(['AtcoCode', 'TiplocCode', 'CrsCode', 'StationName', 'StationNameLang',
       'GridType', 'Easting', 'Northing', 'CreationDateTime',
       'ModificationDateTime', 'RevisionNumber', 'Modification'],
      dtype='object')

In [7]:
dropped = ['AtcoCode', 'StationNameLang',
       'GridType', 'Easting', 'Northing', 'CreationDateTime',
       'ModificationDateTime', 'RevisionNumber', 'Modification']

In [8]:
df = df.drop(columns=dropped)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2628 entries, 0 to 2627
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   TiplocCode   2628 non-null   object
 1   CrsCode      2628 non-null   object
 2   StationName  2628 non-null   object
dtypes: object(3)
memory usage: 61.7+ KB

In [10]:
df.head(15)

   TiplocCode CrsCode                      StationName
0     PENZNCE     PNZ            Penzance Rail Station
1      STIVES     SIV  St Ives (Cornwall) Rail Station
2     CARBISB     CBB          Carbis Bay Rail Station
3      STERTH     SER             St Erth Rail Station
4     LELANTS     LTS     Lelant Saltings Rail Station
5      LELANT     LEL              Lelant Rail Station
6       HAYLE     HYL               Hayle Rail Station
7      CBORNE     CBN            Camborne Rail Station
8     ARISAIG     ARG             Arisaig Rail Station
9       MLAIG     MLG             Mallaig Rail Station
10      MORAR     MRR               Morar Rail Station
11    REDRUTH     RED             Redruth Rail Station
12    BEASDAL     BSL            Beasdale Rail Station
13    KYLELSH     KYL    Kyle of Lochalsh Rail Station
14    LCHALRT     LCL          Lochailort Rail Station

In [11]:
unique_tiploc = df['TiplocCode'].nunique()

In [12]:
unique_tiploc

2628

In [13]:
unique_station = df['StationName'].nunique()

In [14]:
unique_station

2603

In [15]:
unique_crs = df['CrsCode'].nunique()

In [16]:
unique_crs

2595

In [ ]:
merged_df = pd.merge(df, df2, left_on='train_platform', right_on='TiplocCode', how='outer')