In [42]:
import pandas as pd
import numpy as np

In [43]:
df = pd.read_parquet('rail_data_cleaned_20230728132300.parquet')

In [44]:
df2 = pd.read_csv('RailReferences.csv')

# Initial EDA

In [45]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2628 entries, 0 to 2627
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AtcoCode              2628 non-null   object
 1   TiplocCode            2628 non-null   object
 2   CrsCode               2628 non-null   object
 3   StationName           2628 non-null   object
 4   StationNameLang       0 non-null      float64
 5   GridType              2627 non-null   object
 6   Easting               2628 non-null   int64
 7   Northing              2628 non-null   int64
 8   CreationDateTime      2628 non-null   object
 9   ModificationDateTime  2628 non-null   object
 10  RevisionNumber        2628 non-null   int64
 11  Modification          2628 non-null   object
dtypes: float64(1), int64(3), object(8)
memory usage: 246.5+ KB

In [46]:
df2

,AtcoCode,TiplocCode,CrsCode,StationName,StationNameLang,GridType,Easting,Northing,CreationDateTime,ModificationDateTime,RevisionNumber,Modification
0,9100PENZNCE,PENZNCE,PNZ,Penzance Rail Station,NaN,U,147588,30599,2003-11-04T00:00:00,2011-09-30T14:47:28,2,rev
1,9100STIVES,STIVES,SIV,St Ives (Cornwall) Rail Station,NaN,U,151947,40127,2005-04-04T00:00:00,2011-09-30T14:47:28,4,rev
2,9100CARBISB,CARBISB,CBB,Carbis Bay Rail Station,NaN,U,152930,38745,2003-11-04T00:00:00,2011-09-30T14:47:28,5,rev
3,9100STERTH,STERTH,SER,St Erth Rail Station,NaN,U,154150,35730,2003-11-04T00:00:00,2007-02-13T17:06:21,3,rev
4,9100LELANTS,LELANTS,LTS,Lelant Saltings Rail Station,NaN,U,154430,36640,2003-11-04T00:00:00,2011-09-30T14:47:28,2,rev
...,...,...,...,...,...,...,...,...,...,...,...,...
2623,9100SMRLYTN,SMRLYTN,SYT,Somerleyton Rail Station,NaN,U,647930,296530,2003-11-04T00:00:00,2006-09-18T18:24:34,1,rev
2624,9100OULTNBS,OULTNBS,OUS,Oulton Broad South Rail Station,NaN,U,651920,292205,2005-04-04T00:00:00,2011-08-22T17:03:04,4,rev
2625,9100YARMTH,YARMTH,GYM,Great Yarmouth Rail Station,NaN,U,652000,308100,2003-11-04T00:00:00,2007-02-13T17:06:21,4,rev
2626,9100OULTNBN,OULTNBN,OUN,Oulton Broad North Rail Station,NaN,U,652420,293140,2005-03-17T00:00:00,2007-02-13T17:06:21,3,rev
2627,9100LOWSTFT,LOWSTFT,LWT,Lowestoft Rail Station,NaN,U,654747,292890,2003-11-04T00:00:00,2007-02-13T17:06:21,4,rev

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37100 entries, 8 to 94243
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   route_id                37100 non-null  object
 1   unique_id               37100 non-null  object
 2   service_start_date      37100 non-null  object
 3   update_origin           36515 non-null  object
 4   train_platform          37100 non-null  object
 5   working_time_pass       0 non-null      datetime64[ns]
 6   working_time_arrival    37100 non-null  datetime64[ns]
 7   working_time_departure  37100 non-null  datetime64[ns]
 8   planned_time_arrival    33855 non-null  datetime64[ns]
 9   planned_time_departure  33580 non-null  datetime64[ns]
 10  pass                    0 non-null      float64
 11  platform                34114 non-null  object
 12  train_length            10595 non-null  object
 13  actual_arrival_time     31769 non-null  datetime64[ns]
 14  actual_departure_time   34384 non-null  datetime64[ns]
 15  is_delayed_arrival      37100 non-null  bool
 16  is_delayed_departure    37100 non-null  bool
dtypes: bool(2), datetime64[ns](7), float64(1), object(7)
memory usage: 4.6+ MB

In [48]:
df.shape

(37100, 17)

In [49]:
df.head(15)

,route_id,unique_id,service_start_date,update_origin,train_platform,working_time_pass,working_time_arrival,working_time_departure,planned_time_arrival,planned_time_departure,pass,platform,train_length,actual_arrival_time,actual_departure_time,is_delayed_arrival,is_delayed_departure
8,202307277679020,L79020,2023-07-27,Darwin,STFD,NaT,2023-07-27 00:03:00,2023-07-27 00:03:30,NaT,NaT,NaN,5,None,2023-07-27 00:53:00,2023-07-27 00:53:00,True,True
10,202307277679020,L79020,2023-07-27,Darwin,SPNY205,NaT,2023-07-27 00:07:00,2023-07-27 00:13:30,NaT,NaT,NaN,None,None,2023-07-27 00:57:00,2023-07-27 00:58:00,True,True
16,202307277679020,L79020,2023-07-27,Darwin,PADTLL,NaT,2023-07-27 00:30:30,2023-07-27 00:31:00,NaT,NaT,NaN,B,None,2023-07-27 01:07:00,2023-07-27 01:07:00,True,True
17,202307277679020,L79020,2023-07-27,Darwin,WBRNPKS,NaT,2023-07-27 00:33:00,2023-07-27 00:35:00,NaT,NaT,NaN,A,None,2023-07-27 01:09:00,2023-07-27 01:10:00,True,True
22,202307277674553,L74553,2023-07-27,TD,SVNOAKS,NaT,2023-07-27 21:53:00,2023-07-27 21:54:30,2023-07-27 21:53:00,2023-07-27 21:54:00,NaN,1,8,NaT,NaT,False,False
25,202307277679633,L79633,2023-07-27,TD,STFD,NaT,2023-07-27 19:42:30,2023-07-27 19:43:30,2023-07-27 19:43:00,2023-07-27 19:43:00,NaN,8,None,2023-07-27 19:43:00,2023-07-27 19:44:00,False,False
26,202307277679633,L79633,2023-07-27,TD,MRYLAND,NaT,2023-07-27 19:45:00,2023-07-27 19:45:30,2023-07-27 19:45:00,2023-07-27 19:45:00,NaN,2,None,2023-07-27 19:45:00,2023-07-27 19:46:00,False,False
27,202307277679633,L79633,2023-07-27,TD,FRSTGT,NaT,2023-07-27 19:47:00,2023-07-27 19:47:30,2023-07-27 19:47:00,2023-07-27 19:47:00,NaN,2,None,2023-07-27 19:47:00,2023-07-27 19:48:00,False,False
29,202307277679633,L79633,2023-07-27,TD,MANRPK,NaT,2023-07-27 19:49:30,2023-07-27 19:50:00,2023-07-27 19:50:00,2023-07-27 19:50:00,NaN,2,None,2023-07-27 19:50:00,2023-07-27 19:50:00,False,False
30,202307277679633,L79633,2023-07-27,TD,ILFORD,NaT,2023-07-27 19:52:00,2023-07-27 19:53:00,2023-07-27 19:52:00,2023-07-27 19:53:00,NaN,4,None,2023-07-27 19:52:00,2023-07-27 19:53:00,False,False
31,202307277679633,L79633,2023-07-27,TD,SVNKNGS,NaT,2023-07-27 19:55:00,2023-07-27 19:55:30,2023-07-27 19:55:00,2023-07-27 19:55:00,NaN,4,None,2023-07-27 19:55:00,2023-07-27 19:55:00,False,False
32,202307277679633,L79633,2023-07-27,TD,GODMAYS,NaT,2023-07-27 19:57:00,2023-07-27 19:57:30,2023-07-27 19:57:00,2023-07-27 19:57:00,NaN,4,None,2023-07-27 19:57:00,2023-07-27 19:57:00,False,False
33,202307277679633,L79633,2023-07-27,TD,CHDWLHT,NaT,2023-07-27 19:59:00,2023-07-27 19:59:30,2023-07-27 19:59:00,2023-07-27 19:59:00,NaN,4,None,2023-07-27 19:59:00,2023-07-27 19:59:00,False,False
34,202307277679633,L79633,2023-07-27,TD,ROMFORD,NaT,2023-07-27 20:02:30,2023-07-27 20:03:30,2023-07-27 20:03:00,2023-07-27 20:03:00,NaN,5,None,2023-07-27 20:03:00,2023-07-27 20:03:00,False,False
35,202307277679633,L79633,2023-07-27,TD,GIDEAPK,NaT,2023-07-27 20:05:30,2023-07-27 20:06:00,2023-07-27 20:06:00,2023-07-27 20:06:00,NaN,4,None,2023-07-27 20:06:00,2023-07-27 20:06:00,False,False

In [50]:
unique_platform = df['train_platform'].nunique()

In [51]:
unique_platform

2603

In [52]:
dropped = ['AtcoCode', 'StationNameLang',
       'GridType', 'Easting', 'Northing', 'CreationDateTime',
       'ModificationDateTime', 'RevisionNumber', 'Modification']

In [53]:
df2 = df2.drop(columns=dropped)

In [54]:
dropped = ['working_time_pass', 'pass']

In [55]:
df = df.drop(columns=dropped)

In [56]:
merged_df = pd.merge(df, df2, left_on='train_platform', right_on='TiplocCode', how='outer')

In [57]:
merged_df.head()

,route_id,unique_id,service_start_date,update_origin,train_platform,working_time_arrival,working_time_departure,planned_time_arrival,planned_time_departure,platform,train_length,actual_arrival_time,actual_departure_time,is_delayed_arrival,is_delayed_departure,TiplocCode,CrsCode,StationName
0,202307277679020,L79020,2023-07-27,Darwin,STFD,2023-07-27 00:03:00,2023-07-27 00:03:30,NaT,NaT,5,None,2023-07-27 00:53:00,2023-07-27 00:53:00,True,True,STFD,SRA,Stratford (London) Rail Station
1,202307277679633,L79633,2023-07-27,TD,STFD,2023-07-27 19:42:30,2023-07-27 19:43:30,2023-07-27 19:43:00,2023-07-27 19:43:00,8,None,2023-07-27 19:43:00,2023-07-27 19:44:00,False,False,STFD,SRA,Stratford (London) Rail Station
2,202307277679712,L79712,2023-07-27,TD,STFD,2023-07-27 17:53:30,2023-07-27 17:54:30,2023-07-27 17:54:00,2023-07-27 17:54:00,8,None,2023-07-27 17:54:00,2023-07-27 17:54:00,False,False,STFD,SRA,Stratford (London) Rail Station
3,202307277679608,L79608,2023-07-27,Darwin,STFD,2023-07-27 19:06:30,2023-07-27 19:07:30,2023-07-27 19:07:00,2023-07-27 19:07:00,8,None,2023-07-27 20:46:00,2023-07-27 20:47:00,True,True,STFD,SRA,Stratford (London) Rail Station
4,202307278001611,P01611,2023-07-27,CIS,STFD,2023-07-27 21:44:30,2023-07-27 21:45:00,2023-07-27 21:45:00,2023-07-27 21:45:00,10,5,2023-07-27 21:45:00,2023-07-27 21:45:00,False,False,STFD,SRA,Stratford (London) Rail Station

In [58]:
merged_df.columns

Index(['route_id', 'unique_id', 'service_start_date', 'update_origin',
       'train_platform', 'working_time_arrival', 'working_time_departure',
       'planned_time_arrival', 'planned_time_departure', 'platform',
       'train_length', 'actual_arrival_time', 'actual_departure_time',
       'is_delayed_arrival', 'is_delayed_departure', 'TiplocCode', 'CrsCode',
       'StationName'],
      dtype='object')

In [59]:
rail = merged_df[['route_id', 'unique_id', 'service_start_date', 'update_origin',
       'train_platform', 'TiplocCode', 'CrsCode',
       'StationName', 'working_time_arrival', 'working_time_departure',
       'planned_time_arrival', 'planned_time_departure', 'platform',
       'train_length', 'actual_arrival_time', 'actual_departure_time',
       'is_delayed_arrival', 'is_delayed_departure',]]

In [60]:
rail.head()

,route_id,unique_id,service_start_date,update_origin,train_platform,TiplocCode,CrsCode,StationName,working_time_arrival,working_time_departure,planned_time_arrival,planned_time_departure,platform,train_length,actual_arrival_time,actual_departure_time,is_delayed_arrival,is_delayed_departure
0,202307277679020,L79020,2023-07-27,Darwin,STFD,STFD,SRA,Stratford (London) Rail Station,2023-07-27 00:03:00,2023-07-27 00:03:30,NaT,NaT,5,None,2023-07-27 00:53:00,2023-07-27 00:53:00,True,True
1,202307277679633,L79633,2023-07-27,TD,STFD,STFD,SRA,Stratford (London) Rail Station,2023-07-27 19:42:30,2023-07-27 19:43:30,2023-07-27 19:43:00,2023-07-27 19:43:00,8,None,2023-07-27 19:43:00,2023-07-27 19:44:00,False,False
2,202307277679712,L79712,2023-07-27,TD,STFD,STFD,SRA,Stratford (London) Rail Station,2023-07-27 17:53:30,2023-07-27 17:54:30,2023-07-27 17:54:00,2023-07-27 17:54:00,8,None,2023-07-27 17:54:00,2023-07-27 17:54:00,False,False
3,202307277679608,L79608,2023-07-27,Darwin,STFD,STFD,SRA,Stratford (London) Rail Station,2023-07-27 19:06:30,2023-07-27 19:07:30,2023-07-27 19:07:00,2023-07-27 19:07:00,8,None,2023-07-27 20:46:00,2023-07-27 20:47:00,True,True
4,202307278001611,P01611,2023-07-27,CIS,STFD,STFD,SRA,Stratford (London) Rail Station,2023-07-27 21:44:30,2023-07-27 21:45:00,2023-07-27 21:45:00,2023-07-27 21:45:00,10,5,2023-07-27 21:45:00,2023-07-27 21:45:00,False,False

In [61]:
rail = rail.sort_values(by='unique_id')

# Main Dataframe

In [62]:
rail

,route_id,unique_id,service_start_date,update_origin,train_platform,TiplocCode,CrsCode,StationName,working_time_arrival,working_time_departure,planned_time_arrival,planned_time_departure,platform,train_length,actual_arrival_time,actual_departure_time,is_delayed_arrival,is_delayed_departure
27531,202307286700066,C00066,2023-07-28,Darwin,LINCLNC,LINCLNC,LCN,Lincoln Central Rail Station,2023-07-28 05:46:30,2023-07-28 05:48:30,2023-07-28 05:47:00,2023-07-28 05:48:00,3A,None,2023-07-28 05:47:00,2023-07-28 05:48:00,False,False
4645,202307286700066,C00066,2023-07-28,Darwin,LOWDHAM,LOWDHAM,LOW,Lowdham Rail Station,2023-07-28 05:11:00,2023-07-28 05:12:00,2023-07-28 05:11:00,2023-07-28 05:12:00,None,None,2023-07-28 05:11:00,2023-07-28 05:12:00,False,False
24334,202307286700066,C00066,2023-07-28,Darwin,NWRKCAS,NWRKCAS,NCT,Newark Castle Rail Station,2023-07-28 05:23:30,2023-07-28 05:24:30,2023-07-28 05:24:00,2023-07-28 05:24:00,None,None,2023-07-28 05:24:00,2023-07-28 05:24:00,False,False
35606,202307276700069,C00069,2023-07-27,TD,SILEBY,SILEBY,SIL,Sileby Rail Station,2023-07-27 18:01:30,2023-07-27 18:02:30,2023-07-27 18:02:00,2023-07-27 18:02:00,1,None,NaT,2023-07-27 18:07:00,False,False
29324,202307276700071,C00071,2023-07-27,Trust,HYKEHAM,HYKEHAM,HKM,Hykeham Rail Station,2023-07-27 20:25:00,2023-07-27 20:25:30,2023-07-27 20:25:00,2023-07-27 20:25:00,2,None,2023-07-27 20:25:00,2023-07-27 20:26:00,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37474,NaN,NaN,NaN,NaN,NaN,DARSHAM,DSM,Darsham Rail Station,NaT,NaT,NaT,NaT,NaN,NaN,NaT,NaT,NaN,NaN
37475,NaN,NaN,NaN,NaN,NaN,BRAMPTN,BRP,Brampton (Suffolk) Rail Station,NaT,NaT,NaT,NaT,NaN,NaN,NaT,NaT,NaN,NaN
37476,NaN,NaN,NaN,NaN,NaN,BRNYARM,BYA,Berney Arms Rail Station,NaT,NaT,NaT,NaT,NaN,NaN,NaT,NaT,NaN,NaN
37477,NaN,NaN,NaN,NaN,NaN,YARMTH,GYM,Great Yarmouth Rail Station,NaT,NaT,NaT,NaT,NaN,NaN,NaT,NaT,NaN,NaN
37478,NaN,NaN,NaN,NaN,NaN,LOWSTFT,LWT,Lowestoft Rail Station,NaT,NaT,NaT,NaT,NaN,NaN,NaT,NaT,NaN,NaN

In [63]:
rail.size

674622

In [64]:
rail.shape

(37479, 18)

In [65]:
rail.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37479 entries, 27531 to 37478
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   route_id                37100 non-null  object
 1   unique_id               37100 non-null  object
 2   service_start_date      37100 non-null  object
 3   update_origin           36515 non-null  object
 4   train_platform          37100 non-null  object
 5   TiplocCode              34857 non-null  object
 6   CrsCode                 34857 non-null  object
 7   StationName             34857 non-null  object
 8   working_time_arrival    37100 non-null  datetime64[ns]
 9   working_time_departure  37100 non-null  datetime64[ns]
 10  planned_time_arrival    33855 non-null  datetime64[ns]
 11  planned_time_departure  33580 non-null  datetime64[ns]
 12  platform                34114 non-null  object
 13  train_length            10595 non-null  object
 14  actual_arrival_time     31769 non-null  datetime64[ns]
 15  actual_departure_time   34384 non-null  datetime64[ns]
 16  is_delayed_arrival      37100 non-null  object
 17  is_delayed_departure    37100 non-null  object
dtypes: datetime64[ns](6), object(12)
memory usage: 5.4+ MB

In [66]:
rail.update_origin.unique()

array(['Darwin', 'TD', 'Trust', 'CIS', 'Tyrell', 'Workstation', None, nan],
      dtype=object)

In [67]:
rail.update_origin.value_counts()

CIS            14433
TD             10576
Darwin          8983
Trust           2203
Tyrell           292
Workstation       28
Name: update_origin, dtype: int64

In [68]:
rail.service_start_date.unique()
# 7/27 is a thursday
# 7/28 is a friday
# 7/29 is a saturday

array(['2023-07-28', '2023-07-27', '2023-07-29', nan], dtype=object)

In [69]:
rail.train_platform.value_counts()

LNDNBDE    317
WLOE       166
CRKLWD     147
STKP       147
ECROYDN    147
          ...
LLDYBIE      1
FFAIRFC      1
GARTH        1
AMMANFD      1
COOMJGF      1
Name: train_platform, Length: 2603, dtype: int64

## Look for platforms with null tiplocs

In [70]:
null_tiploc_rows = rail[rail['TiplocCode'].isnull()]

In [71]:
null_tiploc_rows

,route_id,unique_id,service_start_date,update_origin,train_platform,TiplocCode,CrsCode,StationName,working_time_arrival,working_time_departure,planned_time_arrival,planned_time_departure,platform,train_length,actual_arrival_time,actual_departure_time,is_delayed_arrival,is_delayed_departure
35824,202307286700140,C00140,2023-07-28,CIS,TRENTL,NaN,NaN,NaN,2023-07-28 15:03:00,2023-07-28 15:04:00,NaT,NaT,None,None,2023-07-28 15:03:00,2023-07-28 15:04:00,False,False
34920,202307276701994,C01994,2023-07-27,Darwin,GOOLLOP,NaN,NaN,NaN,2023-07-27 21:38:00,2023-07-27 21:47:00,NaT,NaT,None,None,2023-07-27 21:38:00,2023-07-27 21:39:00,False,False
24685,202307286702157,C02157,2023-07-28,Darwin,HENWICK,NaN,NaN,NaN,2023-07-28 14:29:00,2023-07-28 14:44:00,NaT,NaT,URS,None,2023-07-28 14:29:00,2023-07-28 14:30:00,False,False
37079,202307276702336,C02336,2023-07-27,CIS,GRVPUHS,NaN,NaN,NaN,2023-07-27 23:13:00,2023-07-27 23:20:00,NaT,NaT,None,10,2023-07-27 23:01:00,2023-07-27 23:02:00,False,False
32570,202307276703196,C03196,2023-07-27,TD,CRGNTYJ,NaN,NaN,NaN,2023-07-27 23:42:30,2023-07-27 23:43:00,NaT,NaT,None,None,2023-07-27 23:35:00,2023-07-27 23:36:00,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34209,202307288955149,Y55149,2023-07-28,CIS,BRENTX,NaN,NaN,NaN,2023-07-28 05:27:00,2023-07-28 05:27:30,NaT,NaT,2,None,2023-07-28 05:26:00,2023-07-28 05:27:00,False,False
34205,202307288955150,Y55150,2023-07-28,CIS,BRENTX,NaN,NaN,NaN,2023-07-28 04:36:30,2023-07-28 04:37:00,NaT,NaT,1,None,2023-07-28 04:36:00,2023-07-28 04:36:00,False,False
34211,202307278955154,Y55154,2023-07-27,Trust,BRENTX,NaN,NaN,NaN,2023-07-27 00:42:00,2023-07-27 00:43:00,NaT,NaT,2,12,NaT,NaT,False,False
34198,202307278955160,Y55160,2023-07-27,TD,BRENTX,NaN,NaN,NaN,2023-07-27 01:12:00,2023-07-27 01:12:30,NaT,NaT,2,8,2023-07-27 01:12:00,2023-07-27 01:12:00,False,False
34221,202307278955160,Y55160,2023-07-27,TD,BRENTX,NaN,NaN,NaN,2023-07-27 01:12:00,2023-07-27 01:12:30,NaT,NaT,2,8,2023-07-27 01:12:00,2023-07-27 01:13:00,False,False

 #### Of the null value tiplocs, lets look at ABRD27 platform

In [72]:
platform_a27_rows = rail[rail['platform'] == 'A27']

In [73]:
platform_a27_rows

Empty DataFrame
Columns: [route_id, unique_id, service_start_date, update_origin, train_platform, TiplocCode, CrsCode, StationName, working_time_arrival, working_time_departure, planned_time_arrival, planned_time_departure, platform, train_length, actual_arrival_time, actual_departure_time, is_delayed_arrival, is_delayed_departure]
Index: []

In [74]:
aberdeen = rail[rail['platform'] == 'A27']

### We should keep the data that doesn't have corresponding tiplocs but they should be kept for time and delay data

## Most frequent rail id

In [75]:
rail.unique_id.value_counts()

Y55129    120
Y54552     92
Y53932     75
W26895     74
Y54816     66
         ...
L25009      1
L25004      1
L24981      1
P71818      1
L22719      1
Name: unique_id, Length: 6364, dtype: int64

In [76]:
popular_id = rail[rail['unique_id'] == 'Y55129']

In [77]:
popular_id

,route_id,unique_id,service_start_date,update_origin,train_platform,TiplocCode,CrsCode,StationName,working_time_arrival,working_time_departure,planned_time_arrival,planned_time_departure,platform,train_length,actual_arrival_time,actual_departure_time,is_delayed_arrival,is_delayed_departure
21526,202307288955129,Y55129,2023-07-28,Darwin,CRKLWD,CRKLWD,CRI,Cricklewood Rail Station,2023-07-28 01:15:30,2023-07-28 01:17:00,2023-07-28 01:16:00,2023-07-28 01:17:00,1,12,2023-07-28 01:16:00,2023-07-28 01:17:00,False,False
11047,202307288955129,Y55129,2023-07-28,CIS,SELHRST,SELHRST,SRS,Selhurst Rail Station,2023-07-28 02:02:30,2023-07-28 02:03:00,NaT,NaT,1,12,NaT,NaT,False,False
20419,202307288955129,Y55129,2023-07-28,TD,ELTR,ELTR,ELS,Elstree & Borehamwood Rail Station,2023-07-28 01:04:00,2023-07-28 01:04:30,2023-07-28 01:04:00,2023-07-28 01:04:00,1,12,2023-07-28 01:06:00,2023-07-28 01:06:00,False,False
32921,202307288955129,Y55129,2023-07-28,TD,HDON,HDON,HEN,Hendon Rail Station,2023-07-28 01:11:30,2023-07-28 01:12:00,2023-07-28 01:12:00,2023-07-28 01:12:00,1,12,2023-07-28 01:12:00,2023-07-28 01:12:00,False,False
11376,202307288955129,Y55129,2023-07-28,Trust,ECROYDN,ECROYDN,ECR,East Croydon Rail Station,2023-07-28 02:06:00,2023-07-28 02:07:00,2023-07-28 02:06:00,2023-07-28 02:07:00,5,12,2023-07-28 02:08:00,2023-07-28 02:09:00,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,202307288955129,Y55129,2023-07-28,Darwin,BLFR,BLFR,BFR,London Blackfriars Rail Station,2023-07-28 01:39:00,2023-07-28 01:40:00,2023-07-28 01:39:00,2023-07-28 01:40:00,1,12,2023-07-28 01:39:00,2023-07-28 01:40:00,False,False
11193,202307288955129,Y55129,2023-07-28,Darwin,HORLEY,HORLEY,HOR,Horley Rail Station,2023-07-28 02:25:30,2023-07-28 02:26:00,2023-07-28 02:26:00,2023-07-28 02:26:00,2,12,2023-07-28 02:29:00,2023-07-28 02:29:00,False,False
16905,202307288955129,Y55129,2023-07-28,Darwin,GTWK,GTWK,GTW,Gatwick Airport Rail Station,2023-07-28 02:29:30,2023-07-28 02:31:30,2023-07-28 02:30:00,2023-07-28 02:31:00,2,12,2023-07-28 02:30:00,2023-07-28 02:31:00,False,False
16783,202307288955129,Y55129,2023-07-28,TD,WHMPSTM,WHMPSTM,WHP,West Hampstead Thameslink Rail Station,2023-07-28 01:20:00,2023-07-28 01:20:30,2023-07-28 01:20:00,2023-07-28 01:20:00,1,12,2023-07-28 01:22:00,2023-07-28 01:23:00,False,False
18724,202307288955129,Y55129,2023-07-28,TD,PURLEY,PURLEY,PUR,Purley Rail Station,2023-07-28 02:12:00,2023-07-28 02:13:00,2023-07-28 02:12:00,2023-07-28 02:13:00,2,12,2023-07-28 02:12:00,2023-07-28 02:13:00,False,False

In [78]:
lea = popular_id[popular_id['TiplocCode'] == 'LEAGRVE']

In [79]:
lea

,route_id,unique_id,service_start_date,update_origin,train_platform,TiplocCode,CrsCode,StationName,working_time_arrival,working_time_departure,planned_time_arrival,planned_time_departure,platform,train_length,actual_arrival_time,actual_departure_time,is_delayed_arrival,is_delayed_departure
16479,202307288955129,Y55129,2023-07-28,TD,LEAGRVE,LEAGRVE,LEA,Leagrave Rail Station,2023-07-28 00:35:30,2023-07-28 00:36:00,2023-07-28 00:36:00,2023-07-28 00:36:00,1,12,2023-07-28 00:37:00,2023-07-28 00:37:00,False,False
16478,202307288955129,Y55129,2023-07-28,Darwin,LEAGRVE,LEAGRVE,LEA,Leagrave Rail Station,2023-07-28 00:35:30,2023-07-28 00:36:00,2023-07-28 00:36:00,2023-07-28 00:36:00,1,12,NaT,2023-07-28 00:41:00,False,False
16482,202307288955129,Y55129,2023-07-28,CIS,LEAGRVE,LEAGRVE,LEA,Leagrave Rail Station,2023-07-28 00:35:30,2023-07-28 00:36:00,2023-07-28 00:36:00,2023-07-28 00:36:00,1,12,NaT,NaT,False,False
16490,202307288955129,Y55129,2023-07-28,TD,LEAGRVE,LEAGRVE,LEA,Leagrave Rail Station,2023-07-28 00:35:30,2023-07-28 00:36:00,2023-07-28 00:36:00,2023-07-28 00:36:00,1,12,NaT,NaT,False,False

## LNDNBDE platform EDA

In [80]:
first_platform = rail[rail['train_platform'] == 'LNDNBDE']

In [81]:
first_platform

,route_id,unique_id,service_start_date,update_origin,train_platform,TiplocCode,CrsCode,StationName,working_time_arrival,working_time_departure,planned_time_arrival,planned_time_departure,platform,train_length,actual_arrival_time,actual_departure_time,is_delayed_arrival,is_delayed_departure
11522,202307286702202,C02202,2023-07-28,TD,LNDNBDE,LNDNBDE,LBG,London Bridge Rail Station,2023-07-28 04:39:00,2023-07-28 04:46:00,NaT,NaT,6,10,2023-07-28 04:28:00,2023-07-28 04:29:00,False,False
11560,202307286704629,C04629,2023-07-28,CIS,LNDNBDE,LNDNBDE,LBG,London Bridge Rail Station,2023-07-28 08:42:30,2023-07-28 08:45:00,2023-07-28 08:43:00,2023-07-28 08:45:00,2,None,2023-07-28 08:43:00,2023-07-28 08:45:00,False,False
11762,202307286714526,C14526,2023-07-28,Darwin,LNDNBDE,LNDNBDE,LBG,London Bridge Rail Station,2023-07-28 17:04:00,2023-07-28 17:05:30,2023-07-28 17:04:00,2023-07-28 17:05:00,1,None,2023-07-28 17:04:00,2023-07-28 17:05:00,False,False
11763,202307286714526,C14526,2023-07-28,Darwin,LNDNBDE,LNDNBDE,LBG,London Bridge Rail Station,2023-07-28 18:22:00,2023-07-28 18:23:30,2023-07-28 18:22:00,2023-07-28 18:23:00,3,None,2023-07-28 18:22:00,2023-07-28 18:23:00,False,False
11505,202307276714526,C14526,2023-07-27,Darwin,LNDNBDE,LNDNBDE,LBG,London Bridge Rail Station,2023-07-27 18:22:00,2023-07-27 18:23:30,2023-07-27 18:22:00,2023-07-27 18:23:00,3,8,2023-07-27 18:22:00,2023-07-27 18:23:00,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11772,202307288954816,Y54816,2023-07-28,CIS,LNDNBDE,LNDNBDE,LBG,London Bridge Rail Station,2023-07-28 14:34:00,2023-07-28 14:35:30,2023-07-28 14:34:00,2023-07-28 14:35:00,4,None,2023-07-28 14:34:00,2023-07-28 14:35:00,False,False
11573,202307288954816,Y54816,2023-07-28,CIS,LNDNBDE,LNDNBDE,LBG,London Bridge Rail Station,2023-07-28 14:34:00,2023-07-28 14:35:30,2023-07-28 14:34:00,2023-07-28 14:35:00,4,None,2023-07-28 14:34:00,2023-07-28 14:35:00,False,False
11506,202307278954886,Y54886,2023-07-27,CIS,LNDNBDE,LNDNBDE,LBG,London Bridge Rail Station,2023-07-27 21:34:30,2023-07-27 21:36:00,2023-07-27 21:35:00,2023-07-27 21:36:00,5,12,2023-07-27 21:35:00,2023-07-27 21:36:00,False,False
11733,202307278954904,Y54904,2023-07-27,TD,LNDNBDE,LNDNBDE,LBG,London Bridge Rail Station,2023-07-27 23:04:30,2023-07-27 23:06:00,2023-07-27 23:05:00,2023-07-27 23:06:00,5,8,NaT,2023-07-27 23:07:00,False,False
11608,202307278954910,Y54910,2023-07-27,TD,LNDNBDE,LNDNBDE,LBG,London Bridge Rail Station,2023-07-27 23:34:30,2023-07-27 23:36:00,2023-07-27 23:35:00,2023-07-27 23:36:00,5,8,2023-07-27 23:37:00,2023-07-27 23:38:00,False,False

In [82]:
first_platform['platform'].value_counts()

9    65
8    45
5    37
6    33
3    32
7    32
1    28
4    23
2    22
Name: platform, dtype: int64